* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    height: 60px;
    background-color: #a5a6a9;
}

main {
    display: grid;
    grid-template-columns: 300px 1fr;
    background-color: #e4e5ee;
    height: 100vh;
    transition: grid-template-columns 0.7s ease-in-out;
}

main.collapsed {
    grid-template-columns: 50px 1fr;
}

#menu {
    display: flex;
    flex-direction: column;
    background-color: #d7d8e0;
    border-top-right-radius: 16px;;
     
}

#menu-header {
    display: flex;
    margin-left: auto;
}

.menu-item {
    padding: 12px;
    cursor: pointer;
}

.menu-item img {
    width: 30px;
}

.menu-item:hover {
    background-color: #cbccd2;
}

#dashboard-header {
   font-size: 10rem;
}





