* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    height: 60px;
    background-color: #a5a6a9;
}

main {
    display: grid;
    grid-template-columns: 300px 1fr;
    background-color: #e4e5ee;
    height: 100vh;
    transition: grid-template-columns 1.0s ease-in-out;
}

main.collapsed {
    grid-template-columns: 50px 1fr;
}

#menu {
    display: flex;
    flex-direction: column;
    background-color: #d7d8e0;
    border-top-right-radius: 16px;;
     
}

#menu-header {
    display: flex;
    margin-left: auto;
}

.menu-item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4px;
    margin: 4px;
    margin-bottom: 12px;;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 1.5em;
}

.menu-item img {
    width: 30px;
    margin-right: 16px;
}

.menu-item:hover {
    background-color: #cbccd2;
    width: 98.5%;
}

.menu-item:nth-child(2) span {
    transition: all 0.5s ease-in-out 0.1s;
    opacity: 1;
}

.menu-item:nth-child(3) span {
    transition: all 0.5s ease-in-out 0.2s;
    opacity: 1;
}

.menu-item:nth-child(4) span {
    transition: all 0.5s ease-in-out 0.3s;
    opacity: 1;
}

.menu-item:nth-child(5) span {
    transition: all 0.5s ease-in-out 0.4s;
    opacity: 1;
}

.menu-item:nth-child(6) span {
    transition: all 0.5s ease-in-out 0.5s;
    opacity: 1;
}

#menu.collapsed .menu-item span {
    opacity: 0;
}

#menu.collapsed .menu-item span {
    opacity: 0;
    transform: translateX(-100%);
}

#menu.collapsed .menu-item:hover {
    background-color: #cbccd2;
}


#dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dashboard-title {
    padding: 16px;
}

#add-task {
    padding: 16px;
    margin: 16px;
    margin-right: 48px;
}

#dashboard-title {
    font-size: 3rem;
}





